
@import "tailwindcss";

@plugin "daisyui" {
  themes: cupcake --default;
}

.background {
  background-color: rgb(29, 29, 29);

  /* Two gradients: one vertical, one horizontal */
  background-image:
    repeating-linear-gradient(to right,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 50px),
    repeating-linear-gradient(to bottom,
      rgba(255, 255, 255, 0.05) 0,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 50px);

  /* Size of each grid cell */
  background-size: 50px 50px;
}

@font-face {
  font-family: "specialGothic";
  src: local("specialGothic"),
    url("./assets/fonts/SpecialGothicExpandedOne-Regular.ttf") format("trueType");
  font-weight: bold;
}

.font-gothic {
  font-family: "specialGothic";
}

@font-face {
  font-family: "cinzelDecorativeRegular";
  src: local("cinzelDecorativeRegular"),
    url("./assets//fonts/CinzelDecorative-Regular.ttf") format("trueType");
  font-weight: bold;
}

.font-cinzel {
  font-family: "cinzelDecorativeRegular";
}

@font-face {
  font-family: "cinzelDecorativeBold";
  src: local("cinzelDecorativeBold"),
    url("./assets//fonts/CinzelDecorative-Bold.ttf") format("trueType");
  font-weight: bold;
}

.font-cinzel-bold {
  font-family: "cinzelDecorativeBold";
}

.customGlass {
  @apply backdrop-blur-3xl border border-stone-200/15 bg-stone-500/20 shadow-xs text-base-100 shadow-xl
}

.customDarkGlass {
  @apply backdrop-blur-3xl border border-stone-100/10 bg-stone-500/20
}

.customButton {
  @apply border border-stone-200/0 rounded-field px-3 py-2 pt-2 select-none cursor-pointer;
  transition: all 0.2s ease-in-out;
}

.customButton:hover {
  @apply border border-stone-200/15 bg-stone-950/30 rounded-field px-3 py-2 pt-2 cursor-pointer;
  transition: all 0.2s ease-in-out;
}

.customButtonActive {
  @apply border border-stone-200/15 bg-stone-950/30 rounded-field px-3 py-2 pt-2 cursor-pointer;
  transition: all 0.2s ease-in-out;
}

.customButton {
  @apply border border-stone-200/0 rounded-field px-3 py-2 pt-2 select-none cursor-pointer;
  transition: all 0.2s ease-in-out;
}

.customButtonGlass {
  @apply rounded-field backdrop-blur-3xl border border-stone-200/15 shadow-xs text-stone-800 shadow-xl;
  transition: all 0.2s ease-in-out;
}

.customButtonGlass:hover {
  @apply rounded-field backdrop-blur-3xl border border-stone-400/15 bg-stone-500/20 shadow-xs text-base-100 shadow-xl;
  transition: all 0.2s ease-in-out;
}

.customButtonGlassPrimary {
  @apply rounded-field backdrop-blur-3xl border border-stone-400/15 shadow-xs text-base-100 shadow-sm font-light;
  background-color: rgba(128,251,210, 1);
  color: black;
  transition: all 0.2s ease-in-out;
}

.customButtonGlassPrimary:hover {
  @apply rounded-field backdrop-blur-3xl border border-stone-400/15 shadow-xl text-base-100 font-light;
  background-color: rgb(190, 251, 231);
  color: black;
  transition: all 0.2s ease-in-out;
}

.textGradient {
  background: linear-gradient(120deg, rgba(255, 255, 255, 1) 50%, rgb(117, 107, 107) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.textAnimatedGradient {
  background: linear-gradient(to right,
      #adadad 20%,
      #ffffff 30%,
      #ffffff 70%,
      #adadad 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.gradientFade {
  background: linear-gradient(180deg, rgba(29,29,29, 1)20%, rgba(29,29,29,0) 100%);
}

.gradientFadeReverse {
  background: linear-gradient(0deg, rgba(29, 29, 29, 1) 0%, rgba(29, 29, 29, 0) 100%);
}

.text-custom-primary {
  color: rgb(128, 251, 210);
}

.bg-custom-primary {
  background-color: rgb(128, 251, 210);
}

.text-custom-secondary {
  color: rgb(69, 10, 223);
}

.bg-custom-secondary {
  background-color: rgb(69, 10, 223);
}

.text-custom-tertiary {
  color: rgb(235,79,39);
}

.bg-custom-tertiary {
  background-color: rgb(235,79,39);
}

@keyframes pulse {
  50% {
    opacity: 0;
  }
}

.pulse {
  animation: pulse 2s infinite
}

.neumorphism {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.btn-custom-a {
  @apply p-2 mx-1 btn backdrop-blur-xl font-bold h-8 shadow-none border-1 border-stone-100 rounded-md;
  background-color: rgb(69, 10, 223);
  color: rgb(128, 251, 210);
  border-color: rgb(128, 251, 210);
}

.btn-custom-b {
  @apply p-2 mx-1 btn backdrop-blur-xl font-bold h-8 shadow-none border-1 border-stone-100;
  background-color: rgb(235, 79, 39);
  color: rgb(128, 251, 210);
  border-color: rgb(128, 251, 210);
}

.blurGradient::before {
 backdrop-filter: blur(0.5px);
  mask: linear-gradient(to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 0.5%,
        rgba(0, 0, 0, 0) 0.5%,
        rgba(0, 0, 0, 1) 37.5%);
}

.blurGradient::after {
  backdrop-filter: blur(64px);
  mask: linear-gradient(to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 0.5%,
        rgba(0, 0, 0, 0) 0.5%,
        rgba(0, 0, 0, 1) 37.5%);
}


.textGradient2 {
  background: linear-gradient(-45deg, #d70303, #e73c7e, #0086b7, #00959a);
  background-size: 400% 400%;
  animation: gradient2 3s ease infinite;
}

@keyframes gradient2 {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}