@import "tailwindcss";

@plugin "daisyui" {
  themes: cupcake --default, dark --prefersdark;
}


@layer utilities {
  .glass {
    @apply bg-white/50;
  }

  [data-theme="dark"] .glass {
    @apply bg-indigo-800/30;
  }

  .background {
    background: rgba(216, 233, 237, 1);
    background: linear-gradient(180deg, rgb(15, 19, 74) 00%, rgba(216, 233, 237, 1) 40%);
  }

  [data-theme="dark"] .background  {
    background: rgba(16, 20, 71, 1);
    background: linear-gradient(0deg, rgb(4, 0, 106) 0%, rgb(140, 0, 255) 100%);
  }
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

.wiggle {
  animation: wiggle 0.4s ease-in-out infinite;
}